.shop-links {
    width: 70%;
    max-width: 1070px;
    margin: 150px auto;
    background-color: $color-turquoise-transparent;
    padding: 80px 130px;
    .shop-links__wrapper__link-wrapper {
        margin-top: 40px;
        flex-wrap: wrap;
        position: relative;
        gap: 16px;
        .shop-links__wrapper__link-wrapper__link {
            max-height: 170px;
            border-radius: 13px;
            background-color: $color-turquoise;
            max-width: 30%;
            .shop-links__wrapper__link-wrapper__link__txt-wrapper {
                max-width: 50%;
                padding: 10px;
                flex: 0 1 50%;
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
                h4 {
                    color: white;
                }
                svg,
                svg * {
                    fill: $color-blue-dark;
                }
            }
            .shop-links__wrapper__link-wrapper__link__img-wrapper {
                flex: 0 1 50%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                    border-radius: 13px;
                }
            }
        }
    }
}