@font-face {
    font-family: "Exo 2";
    src: url("../../fonts/Exo 2-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Exo 2";
    src: url("../../fonts/Exo 2-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}