        // Provides a bootstrap-like grid
        // Use as:
        // .col-sm-[1-12] -> Width on mobile
        // .offset-sm-[1-12] -> Offset (margin-left) on mobile
        // .col-md-[1-12] -> Width on tablet/desktop
        // .offset-md-[1-12] -> Offset (margin-left) on tablet/desktop
        @use "sass:math";
        .row {
            display: flex;
            flex-flow: wrap; // Auto-break
            &--expanded {
                width: 100%;
            }
        }
        
        .separate-containers .comments-area,
        .separate-containers .inside-article,
        .separate-containers .page-header,
        .separate-containers .paging-navigation {
            padding-left: 100px;
            padding-right: 100px;
            @media screen and (max-width: $breakpoint-sm-width) {
                padding-left: 16px;
                padding-right: 16px;
            }
        }
        
        .inner-container {
            margin: 0 auto;
            &--small {
                max-width: $grid-spacing-small-width;
                margin: 0 auto;
                .wp-block-column:not(:first-child) {
                    margin-left: 15%;
                }
            }
            &--medium {
                max-width: $grid-spacing-medium-width;
                margin: 0 auto;
            }
        }
        
        .wp-block-group__inner-container {
            padding: 0;
        }