// break points
$breakpoint-s-width: 340px;
$breakpoint-sm-width: 560px;
$breakpoint-m-width: 800px;
$breakpoint-ml-width: 1024px;
$breakpoint-l-width: 1200px;
$breakpoint-lxl-width: 1400px;
$breakpoint-xl-width: 1920px;
$breakpoints-max-diff: $breakpoint-xl-width - $breakpoint-s-width;
// spacing
$spacing1: 10px;
$spacing2: 16px;
$spacing3: 21px;
$spacing4: 30px;
$spacing5: 50px;
// grid spacing
$grid-spacing-small-width: 1070px;
$grid-spacing-medium-width: 1350px;
// dimensions
$wrapper-x-padding: 24px;
$radius-left: 10px 0px 0px 10px;
$radius-right:0px 10px 10px 0px;
$radius: 10px 10px 10px 10px;
$content-max-width: 1514px;
$content-text-max-width: 952px;
// colors
$color-black: #000000;
$color-white: #FFFFFF;
$color-grey: #EDE8E8;
$color-grey-alt: #CCD5E8;
$color-blue-dark: #1D3753;
$color-blue-mid: #43667E;
$color-coral: #EE907D;
$color-turquoise: #8BC0B6;
$color-turquoise-transparent: rgba(139, 192, 182, 0.16);
// font-size and line-height
$text-font-size: 20px;
$text-line-height: 28px;
$text-font-size-max: 20px;
$text-line-height-max: 28px;
$text-font-size-diff: $text-font-size-max - $text-font-size;
$text-line-height-diff: $text-line-height-max - $text-line-height;
$bigger-text-font-size: 30px;
$bigger-text-line-height: 40px;
$bigger-text-font-size-max: 30px;
$bigger-text-line-height-max: 40px;
$bigger-text-font-size-diff: $bigger-text-font-size-max - $bigger-text-font-size;
$bigger-text-line-height-diff: $bigger-text-line-height-max - $bigger-text-line-height;
$smaller-text-font-size: 13px;
$smaller-text-line-height: 19px;
$smaller-text-font-size-max: 20px;
$smaller-text-line-height-max: 29px;
$smaller-text-font-size-diff: $smaller-text-font-size-max - $smaller-text-font-size;
$smaller-text-line-height-diff: $smaller-text-line-height-max - $smaller-text-line-height;
$meta-text-font-size: 22px;
$meta-text-line-height: 24px;
$meta-text-font-size-max: 22px;
$meta-text-line-height-max: 24px;
$meta-text-font-size-diff: $meta-text-font-size-max - $meta-text-font-size;
$meta-text-line-height-diff: $meta-text-line-height-max - $meta-text-line-height;
$super-text-font-size: 50px;
$super-text-line-height: 65px;
$super-text-font-size-max: 90px;
$super-text-line-height-max: 120px;
$super-text-font-size-diff: $super-text-font-size-max - $super-text-font-size;
$super-text-line-height-diff: $super-text-line-height-max - $super-text-line-height;
$super-small-text-font-size: 30px;
$super-small-text-line-height: 35px;
$super-small-text-font-size-max: 45px;
$super-small-text-line-height-max: 50px;
$super-small-text-font-size-diff: $super-small-text-font-size-max - $super-small-text-font-size;
$super-small-text-line-height-diff: $super-small-text-line-height-max - $super-small-text-line-height;
$h1-font-size: 32px;
$h1-line-height: 36px;
$h1-font-size-max: 60px;
$h1-line-height-max: 72px;
$h1-font-size-diff: $h1-font-size-max - $h1-font-size;
$h1-line-height-diff: $h1-line-height-max - $h1-line-height;
$h2-font-size: 24px;
$h2-line-height: 29px;
$h2-font-size-max: 50px;
$h2-line-height-max: 61px;
$h2-font-size-diff: $h2-font-size-max - $h2-font-size;
$h2-line-height-diff: $h2-line-height-max - $h2-line-height;
$h3-font-size: 16px;
$h3-line-height: 22px;
$h3-font-size-max: 30px;
$h3-line-height-max: 40px;
$h3-text-letter-spacing: 1.92px;
$h3-font-size-diff: $h3-font-size-max - $h3-font-size;
$h3-line-height-diff: $h3-line-height-max - $h3-line-height;
$h4-font-size: 16px;
$h4-line-height: 22px;
$h4-font-size-max: 30px;
$h4-line-height-max: 40px;
$h4-text-letter-spacing: 1.92px;
$h4-font-size-diff: $h4-font-size-max - $h4-font-size;
$h4-line-height-diff: $h4-line-height-max - $h4-line-height;
// z-index