.site-footer {
    ul.menu {
        padding-left: 0;
    }
    .footer-widget-1 {
        figure {
            max-width: 50%;
            margin: 0 auto;
        }
        h2 {
            text-align: center;
            font-style: italic;
            margin-top: 2em;
        }
        .inner-padding {
            padding: 0;
            padding-right: 1em;
        }
    }
    .footer-widget-2 {
        .wp-block-columns {
            margin-bottom: 6rem;
        }
    }
}