.site-footer {
    #footer-widgets {
        margin-top: 7vw;
        padding-bottom: 7vw;
    }
    .footer-widgets-container{
        padding-left: 100px;
        padding-right: 100px;
    }
    #footer-widgets::before {
        content: url("../img/zftpl_hintergrunde/blau_gruen_weiß_v5.svg");
    }
    ul.menu {
        padding-left: 0;
    }
    .footer-widget-1 {
        figure {
            max-width: 50%;
            margin: 0 auto;
        }
        h2 {
            text-align: center;
            font-style: italic;
            margin-top: 2em;
        }
        .inner-padding {
            padding: 0;
            padding-right: 1em;
        }
    }
    .footer-widget-2 {
        .wp-block-columns {
            margin-bottom: 6rem;
        }
    }
}