.team__mitglied {
    margin-bottom: 250px;
    @media screen and (max-width: $breakpoint-m-width) {
        margin-bottom: 100px;
    }
    >.flex {
        flex: 1 1 0%;
        @media screen and (max-width: $breakpoint-m-width) {
            flex-direction: column!important;
        }
    }
    .team__mitglied__txt-wrapper,
    .team__mitglied__img-wrapper {
        width: 50%;
        @media screen and (max-width: $breakpoint-m-width) {
            width: 100%;
            margin: 0;
            margin-top: 30px;
        }
    }
    .team__mitglied__img-wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: $breakpoint-l-width) {
            max-height: 200px;
        }
        .team__mitglied__img-wrapper__txt {
            width: 50%;
            height: fit-content;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            align-self: center;
            p:last-child {
                margin-top: 32px;
            }
            @media screen and (max-width: $breakpoint-m-width) {
                * {
                    font-size: 16px;
                }
            }
        }
    }
    p.team-title {
        @include font-text-bold;
    }
    .team__mitglied__tags-wrapper {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        width: auto;
        @media screen and (max-width: $breakpoint-m-width) {
            flex-wrap: nowrap;
            overflow-x: scroll;
        }
        p.team__mitglied__tags-wrapper__tag {
            text-transform: none;
            font-size: 16px;
            font-weight: 300;
            background-color: $color-grey;
            padding: 8px;
            border-radius: 8px;
            margin-top: 16px;
            margin-bottom: 0;
            margin-right: 16px;
        }
    }
}

.team__mitglied:nth-child(even) {
    >.flex {
        flex-direction: row-reverse;
    }
    .team__mitglied__img-wrapper {
        margin-left: 16px;
        @media screen and (max-width: $breakpoint-m-width) {
            margin-left: 0;
        }
    }
    .team__mitglied__txt-wrapper {
        margin-right: 16px;
        @media screen and (max-width: $breakpoint-m-width) {
            margin-right: 0;
        }
    }
    .team__mitglied__tags-wrapper {
        justify-content: flex-end;
        p.team__mitglied__tags-wrapper__tag {
            margin-left: 16px;
            margin-right: 0;
        }
        @media screen and (max-width: $breakpoint-m-width) {
            justify-content: flex-start;
        }
    }
}

.team__mitglied:nth-child(odd) {
    .team__mitglied__img-wrapper {
        margin-right: 16px;
        @media screen and (max-width: $breakpoint-m-width) {
            margin-right: 0;
        }
    }
    .team__mitglied__txt-wrapper {
        margin-left: 16px;
        @media screen and (max-width: $breakpoint-m-width) {
            margin-left: 0;
        }
    }
}