@use "sass:math";
.text-white,
.text-white:before {
  color: #FFFFFF; }

.text-black,
.text-black:before {
  color: #000000; }

.text-grey,
.text-grey:before {
  color: #000000; }

.text-blue-dark,
.text-blue-dark:before {
  color: #1D3753; }

.text-blue-light,
.text-blue-light:before {
  color: #43667E; }

.text-purple,
.text-purple:before {
  color: #EE907D; }

.text-yellow,
.text-yellow:before {
  color: #8BC0B6; }

.text-green,
.text-green:before {
  color: #8BC0B6; }

.bg-white {
  background-color: #FFFFFF; }

.bg-black {
  background-color: #000000; }

.bg-grey {
  background-color: #E4E9F4; }

.bg-blue-dark {
  background-color: #1D3753; }

.bg-blue-light {
  background-color: #43667E; }

.bg-purple {
  background-color: #EE907D; }

.bg-yellow {
  background-color: #8BC0B6; }

.bg-green {
  background-color: #8BC0B6; }

.site-footer p,
.site-footer h1,
.site-footer h2,
.site-footer h3,
.site-footer a {
  color: white; }

.flex-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start; }

.inline-flex-wrapper {
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start; }

.flex-wrapper.flex-wrapper--left,
.inline-flex-wrapper.flex-wrapper--left {
  justify-content: flex-start; }

.flex-wrapper.flex-wrapper--center,
.inline-flex-wrapper.flex-wrapper--center {
  justify-content: center;
  align-items: center; }

.flex-wrapper.flex-wrapper--hcenter,
.inline-flex-wrapper.flex-wrapper--hcenter {
  justify-content: center; }

.flex-wrapper.flex-wrapper--vcenter,
.inline-flex-wrapper.flex-wrapper--vcenter {
  align-items: center; }

.flex-wrapper.flex-wrapper--right,
.inline-flex-wrapper.flex-wrapper--right {
  justify-content: flex-end; }

.flex-wrapper.flex-wrapper--stretch,
.inline-flex-wrapper.flex-wrapper--stretch {
  align-items: stretch; }

.flex-square {
  flex: 1 0 0; }
  .flex-square:before {
    /* The psuedo-element's padding-top percentage is based on the element's width. */
    padding-top: 100%;
    content: "";
    float: left; }
  .flex-square img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media screen and (max-width: 768px) {
  .flex-square {
    flex: 0 1 auto; } }

@font-face {
  font-family: "Exo 2";
  src: url("../../fonts/Exo 2-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo 2";
  src: url("../../fonts/Exo 2-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

footer.site-info {
  display: none; }

.invisible,
.hidden {
  display: none !important; }

.text-center {
  display: block;
  text-align: center; }

.block-center {
  margin-left: auto;
  margin-right: auto; }

.text-uppercase {
  text-transform: uppercase; }

.text-right {
  display: block;
  text-align: right; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.text-underline {
  text-decoration: underline !important; }

.text-linethrough {
  text-decoration: line-through; }

.bg-image {
  background-color: transparent;
  background-size: cover;
  background-position: center center; }

img.avatar {
  width: auto;
  border-radius: 99px; }

.no-break {
  word-break: keep-all !important; }

.no-margin {
  margin: 0; }

.no-hor-margin {
  margin-top: 0;
  margin-bottom: 0; }

.no-margin-top {
  margin-top: 0; }

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

div,
p,
span,
em,
i,
li,
td,
address,
a {
  font-family: "Exo 2", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  color: #1D3753; }
  @media screen and (min-width: 375px) {
    div,
    p,
    span,
    em,
    i,
    li,
    td,
    address,
    a {
      font-size: calc(20px + 0 * ((100vw - 375px) / 1545));
      line-height: calc(28px + 0 * ((100vw - 375px) / 1545)); } }
  @media screen and (min-width: 1920px) {
    div,
    p,
    span,
    em,
    i,
    li,
    td,
    address,
    a {
      font-size: 20px;
      line-height: 28px; } }

strong,
b,
th,
.strong,
.bold,
button,
.btn,
label,
input,
textarea,
select {
  font-family: "Exo 2", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  color: #1D3753; }
  @media screen and (min-width: 375px) {
    strong,
    b,
    th,
    .strong,
    .bold,
    button,
    .btn,
    label,
    input,
    textarea,
    select {
      font-size: calc(20px + 0 * ((100vw - 375px) / 1545));
      line-height: calc(28px + 0 * ((100vw - 375px) / 1545)); } }
  @media screen and (min-width: 1920px) {
    strong,
    b,
    th,
    .strong,
    .bold,
    button,
    .btn,
    label,
    input,
    textarea,
    select {
      font-size: 20px;
      line-height: 28px; } }

h1,
.h1 {
  font-family: "Exo 2", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 6vw;
  display: block;
  color: #8BC0B6; }
  @media screen and (min-width: 375px) {
    h1,
    .h1 {
      font-size: calc(32px + 28 * ((100vw - 375px) / 1545));
      line-height: calc(36px + 36 * ((100vw - 375px) / 1545)); } }
  @media screen and (min-width: 1920px) {
    h1,
    .h1 {
      font-size: 60px;
      line-height: 72px;
      margin-bottom: 100px; } }

h2,
.h2 {
  font-family: "Exo 2", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 1.5vw;
  display: block;
  margin-bottom: 16px;
  color: #1D3753; }
  @media screen and (min-width: 375px) {
    h2,
    .h2 {
      font-size: calc(24px + 26 * ((100vw - 375px) / 1545));
      line-height: calc(29px + 32 * ((100vw - 375px) / 1545)); } }
  @media screen and (min-width: 1920px) {
    h2,
    .h2 {
      font-size: 50px;
      line-height: 61px;
      margin-bottom: 35px; } }

h3,
.h3 {
  font-family: "Exo 2", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1.92px;
  display: block;
  margin-bottom: 16px;
  color: #1D3753; }
  @media screen and (min-width: 375px) {
    h3,
    .h3 {
      font-size: calc(16px + 14 * ((100vw - 375px) / 1545));
      line-height: calc(22px + 18 * ((100vw - 375px) / 1545)); } }
  @media screen and (min-width: 1920px) {
    h3,
    .h3 {
      font-size: 30px;
      line-height: 40px; } }

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Exo 2", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
  color: #1D3753; }
  @media screen and (min-width: 375px) {
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      font-size: calc(20px + 0 * ((100vw - 375px) / 1545));
      line-height: calc(28px + 0 * ((100vw - 375px) / 1545)); } }
  @media screen and (min-width: 1920px) {
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      font-size: 20px;
      line-height: 28px; } }

p {
  margin: 16px 0;
  max-width: 1128px; }

ol,
ul {
  padding-left: 1em;
  margin: 16px 0; }

.text-smaller {
  font-size: 13px;
  line-height: 19px; }
  @media screen and (min-width: 375px) {
    .text-smaller {
      font-size: calc(13px + 7 * ((100vw - 375px) / 1545));
      line-height: calc(19px + 10 * ((100vw - 375px) / 1545)); } }
  @media screen and (min-width: 1920px) {
    .text-smaller {
      font-size: 20px;
      line-height: 29px; } }

.text-bigger {
  font-size: 30px;
  line-height: 40px; }
  @media screen and (min-width: 375px) {
    .text-bigger {
      font-size: calc(30px + 0 * ((100vw - 375px) / 1545));
      line-height: calc(40px + 0 * ((100vw - 375px) / 1545)); } }
  @media screen and (min-width: 1920px) {
    .text-bigger {
      font-size: 30px;
      line-height: 40px; } }

.text-super {
  font-size: 60px;
  line-height: 80px;
  color: #8BC0B6;
  font-style: italic; }
  @media screen and (min-width: 375px) {
    .text-super {
      font-size: calc(60px + 30 * ((100vw - 375px) / 1545));
      line-height: calc(80px + 40 * ((100vw - 375px) / 1545)); } }
  @media screen and (min-width: 1920px) {
    .text-super {
      font-size: 90px;
      line-height: 120px; } }

.text-meta {
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase; }
  @media screen and (min-width: 375px) {
    .text-meta {
      font-size: calc(22px + 0 * ((100vw - 375px) / 1545));
      line-height: calc(24px + 0 * ((100vw - 375px) / 1545)); } }
  @media screen and (min-width: 1920px) {
    .text-meta {
      font-size: 22px;
      line-height: 24px; } }

.font-regular {
  font-family: "Exo 2", Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

.font-text-bold {
  font-family: "Exo 2", Arial, sans-serif;
  font-weight: bold;
  font-style: normal; }

a {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all; }

a,
a:active,
a:focus,
a:visited,
a:hover {
  text-decoration: none; }

*,
div,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  vertical-align: top; }

html {
  scroll-behavior: smooth; }

body {
  overflow-x: hidden;
  position: relative;
  background-color: #FFFFFF; }
  body.no-scroll {
    height: 100%;
    max-height: 100vh;
    overflow: hidden; }

figure,
img {
  position: relative;
  line-height: 0;
  width: 100%;
  height: auto; }

.inner {
  max-width: 1514px;
  margin: auto;
  padding: 0 21px;
  position: relative; }

::selection {
  background: #1D3753;
  color: #EE907D; }

::-moz-selection {
  background: #1D3753;
  color: #EE907D; }

body.menu-open {
  overflow: hidden;
  overscroll-behavior: none; }

@media screen and (min-width: 1200px) {
  .inner {
    padding: 0 50px; } }

@use "sass:math";
.row {
  display: flex;
  flex-flow: wrap; }
  .row--expanded {
    width: 100%; }

.col-sm-1 {
  width: 8.33333%; }

.offset-sm-1 {
  margin-left: 8.33333%; }

.col-sm-2 {
  width: 16.66667%; }

.offset-sm-2 {
  margin-left: 16.66667%; }

.col-sm-3 {
  width: 25%; }

.offset-sm-3 {
  margin-left: 25%; }

.col-sm-4 {
  width: 33.33333%; }

.offset-sm-4 {
  margin-left: 33.33333%; }

.col-sm-5 {
  width: 41.66667%; }

.offset-sm-5 {
  margin-left: 41.66667%; }

.col-sm-6 {
  width: 50%; }

.offset-sm-6 {
  margin-left: 50%; }

.col-sm-7 {
  width: 58.33333%; }

.offset-sm-7 {
  margin-left: 58.33333%; }

.col-sm-8 {
  width: 66.66667%; }

.offset-sm-8 {
  margin-left: 66.66667%; }

.col-sm-9 {
  width: 75%; }

.offset-sm-9 {
  margin-left: 75%; }

.col-sm-10 {
  width: 83.33333%; }

.offset-sm-10 {
  margin-left: 83.33333%; }

.col-sm-11 {
  width: 91.66667%; }

.offset-sm-11 {
  margin-left: 91.66667%; }

.col-sm-12 {
  width: 100%; }

.offset-sm-12 {
  margin-left: 100%; }

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.33333%; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .offset-md-3 {
    margin-left: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .offset-md-6 {
    margin-left: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .offset-md-9 {
    margin-left: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .offset-md-11 {
    margin-left: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .offset-md-12 {
    margin-left: 100%; } }

@media screen and (min-width: 1200px) {
  .hide-for-desktop {
    display: none; } }

@media screen and (max-width: 375px) {
  .hide-for-mobile {
    display: none; } }

@media screen and (max-width: 768px) {
  .hide-for-tablet-down {
    display: none; } }

@media screen and (max-width: 1200px) {
  .hide-for-desktop-down {
    display: none; } }

@media screen and (min-width: 768px) {
  .show-for-desktop {
    display: block; } }

@media screen and (max-width: 375px) {
  .show-for-mobile {
    display: block; } }

.site-footer ul.menu {
  padding-left: 0; }

.site-footer .footer-widget-1 figure {
  max-width: 50%;
  margin: 0 auto; }

.site-footer .footer-widget-1 h2 {
  text-align: center;
  font-style: italic; }

.site-footer .footer-widget-1 .inner-padding {
  padding: 0;
  padding-right: 1em; }

.site-footer .footer-widget-2 .wp-block-columns {
  margin-bottom: 6rem; }

.btn,
button {
  border: 1px solid #EE907D;
  background-color: #EE907D;
  color: #1D3753;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  padding: 7px 15px 4px;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  height: auto;
  min-height: 35px;
  border-radius: 24px;
  width: auto;
  display: table; }
  .btn:disabled, .btn[disabled],
  button:disabled,
  button[disabled] {
    opacity: 0.5; }
  .btn:hover,
  button:hover {
    background-color: #1D3753;
    color: #EE907D; }
