.btn,
button,
.wp-block-buttons a.wp-block-button__link {
    border: 3px solid $color-turquoise;
    background-color: transparent;
    color: $color-white;
    @include font-text-bold;
    @include transition-all;
    padding: 5px 15px 7px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    height: auto;
    min-height: 35px;
    border-radius: 24px;
    width: auto;
    display: table;
    &:disabled,
    &[disabled] {
        opacity: 0.5;
    }
    &:hover {
        background-color: transparent;
        color: $color-turquoise;
    }
}

.btn.text-blue-dark:hover {
    color: $color-turquoise!important;
}

.link {
    &--booking {
        color: white;
        @include font-text-bold;
        margin: 16px 0;
        &::before {
            content: url('../img/arrow.svg');
            width: 20px;
            margin-right: 20px;
            margin-left: 0px;
            transition: all 0.2s ease-out;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
        }
        &:hover {
            color: white;
            &::before {
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }
}